<section id="page-top">
    <div class="navbar-wrapper">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header page-scroll">
                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
                        <button type="button" class="navbar-toggle" data-target="#navbar" show-navbar="false" aria-controls="navbar" ng-click="showNavbarMobile()">
                            
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">HAC Vietnam Technology JSC</a>
                        <!-- <a class="navbar-brand" href="#" style="background-color: #17a185;"><img width="200" height="30"  src="assets/images/hac/logo.png"></a> -->
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li name="page-top" ng-class="{active : activeLink == 'page-top'}"><a class="page-scroll" ng-click="scrollTo('page-top')">{{'Home page'| translate}}</a></li>

                            <li name="portfolio" ng-class="{active : activeLink == 'portfolio'}"><a class="page-scroll" ng-click="scrollTo('portfolio')">{{'Portfolio'| translate}}</a></li>

                            <li name="team" ng-class="{active : activeLink == 'team'}"><a class="page-scroll" ng-click="scrollTo('team')">{{'Map team'| translate}}</a></li>

                            <!-- <li name="workflow" ng-class="{active : activeLink == 'workflow'}"><a class="page-scroll" ng-click="scrollTo('workflow')">{{'Workflow'| translate}}</a></li>

                            <li name="testimonial" ng-class="{active : activeLink == 'testimonial'}"><a class="page-scroll" ng-click="scrollTo('testimonial')">{{'Core Values'|translate}}</a></li> -->

                            <li name="coreservice" ng-class="{active : activeLink == 'coreservice'}"><a class="page-scroll" ng-click="scrollTo('coreservice')">{{'Core Services'| translate}}</a></li>

                            <!--<li><a class="page-scroll" href="#pricing">Đối tác</a></li>-->
                            <li name="contact" ng-class="{active : activeLink == 'contact'}"><a class="page-scroll" ng-click="scrollTo('contact')">{{'Contact' | translate}}</a></li>

                            <li><a class="page-scroll" ng-click="changeLanguage('contact')">{{'Languageconvert' | translate}}</a></li>
                            <!-- <li class="dropdown" dropdown>
                                <a class="dropdown-toggle count-info" href dropdown-toggle>
                                    {{'Languageconvert' | translate}}
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs" >
                                    <li ><a ng-click="changeLanguage('en_US')" style="color:#262626;">{{'Englishconvert' | translate}}</a></li>
                                    <li><a ng-click="changeLanguage('vi_VN')" style="color:#262626;">{{'Vietnameseconvert' | translate}}</a></li>
                                </ul>
                            </li> -->
                            
                        </ul>
                    </div>
                </div>
            </nav>
    </div>
    <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <!-- <h1>We build<br/>
                            web apps, mobile apps<br/>
                            with high quality.<br/>
                            we are HAC creative team</h1> -->
                        <h1>{{'block_h1_slide1_1'|translate}}<br/>{{'block_h1_slide1_2'|translate}}<br/>
                        {{'block_h1_slide1_3'|translate}}<br/>{{'block_h1_slide1_4'|translate}}<br/></h1>
                        <!-- <p>
                            <a class="btn btn-lg btn-primary" href="#" role="button">{{'Read more'|translate}}</a>
                        </p> -->
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <img src="assets/images/hac/laptop_1.png" alt="laptop"/>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>

            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <!-- <h1>We create meaningful <br/> interfaces that inspire.</h1> -->
                        <h1 style="width: 50%;">{{'block_h1_slide2_1'|translate}}</h1>
                        <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> -->
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">{{'Learn more'|translate}}</a></p> -->
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
        </div>
        <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">{{'Previous'|translate}}</span>
        </a>
        <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">{{'Next'|translate}}</span>
        </a>
    </div>
</section>

<section id="portfolio" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>{{'Over 30+ projects completed'|translate}}<br/> <!-- <span class="navy"> {{'with many customers'|translate}}</span> --> </h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div class="project">
                <img width="150" src="assets/images/hac/diadiemcuoi.jpg" class="img-responsive" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>diadiemcuoi.vn</h2>
                        <p>{{'diadiemcuoi_descript'|translate}}</p>
                    </div>
                </span>
            </div>
            <div class="project m-t-lg" style="background:#FAEC21;">
                <img width="150" src="assets/images/hac/noibaiconnect.png" class="img-responsive" style="top:10%;" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>Noibaiconnect inc</h2>
                        <p>{{'noibaiconnect_description'|translate}}</p>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-3 text-center wow fadeInLeft">
            <div class="project" style="background:#df5a49;">
                <img width="150" src="assets/images/hac/clingme.png" class="img-responsive" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>clingme.vn</h2>
                        <p>{{'clingme_description'|translate}}</p>
                    </div>
                </span>
            </div>
            <div class="project m-t-lg">
                <img width="150" src="assets/images/hac/backy.png" class="img-responsive" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>Backy investment jsc</h2>
                        <p>{{'backyinvestment_description'|translate}}</p>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-3 text-center wow fadeInLeft">
            <div class="project" style="background:#DCF3FB;">
                <img width="150" src="assets/images/hac/pingsky-logo.png" class="img-responsive" style="top:10%;" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>Ping Sky</h2>
                        <p>{{'pingsky_description'|translate}}</p>
                    </div>
                </span>
            </div>
            <div class="project m-t-lg" style="background:#14B6B1;">
                <img width="150" src="assets/images/hac/galaxy-gift.png" class="img-responsive" style="top:10%;" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>{{'Galaxy gift'|translate}}</h2>
                        <p>{{'Galaxygift_description'|translate}}</p>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-3 text-center wow fadeInLeft">
            <div class="project" style="background-color:rgb(11, 42, 124);">
                <img width="150" src="assets/images/hac/euroland.png" class="img-responsive" style="top:50%;" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>Euroland</h2>
                        <p>{{'euroland_description'|translate}}</p>
                    </div>
                </span>
            </div>
            <div class="project m-t-lg" style="background-color: #B70101;">
                <img src="assets/images/hac/humanrank_logo.png" width="150px" height="150px" class="img-responsive" alt="some image" style="top:20%; left: 23%;">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>{{'Human Rank'|translate}}</h2>
                        <p>{{'humanrank_description'|translate}}</p>
                    </div>
                </span>
            </div>
            <!-- <div class="project m-t-lg">
                <img src="assets/images/hac/bokehoachdautu.png" class="img-responsive" style="top:50%;" alt="some image">
                <span class="fade-description">
                    <div class="project-content">
                        <h2>{{'Electronic tendering system'|translate}}</h2>
                        <p>{{'Electronic_descript'|translate}}</p>
                    </div>
                </span>
            </div> -->
        </div>
        <!-- <div class="col-md-6 text-center  wow zoomIn">
            <img src="assets/images/hac/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div> -->
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{'Our_team'|translate}}</h1>
                <!-- <p>{{'hac_description'|translate}}</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="assets/images/hac/ducanh-gray.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">{{'ducanh_lastname'|translate}}</span> {{'ducanh_firstname'|translate}}</h4>
                    <p>{{'ducanh_description'|translate}}</p>
                    <ul class="list-inline social-icon">
                       <!--  <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/duc-anh-nguyen-31173552"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="assets/images/hac/congdao-gray.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">{{'cong_lastname'|translate}}</span> {{'cong_firstname'|translate}}</h4>
                    <p>{{'cong_description'|translate}}</p>
                    <ul class="list-inline social-icon">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                        <!-- <li><a href="https://www.linkedin.com/in/cong-dao-5b446741"><i class="fa fa-linkedin"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="assets/images/hac/tuanho-gray.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">{{'tuananh_lastname'|translate}}</span> {{'tuananh_firstname'|translate}}</h4>
                    <p>{{'tuananh_description'|translate}}</p>
                    <ul class="list-inline social-icon">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
    <div style="background-color:#fff;">
        <br>
        <br>
    </div>
    <div class="testimonials">
        
        <div class="container " style="color:#fff;">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-puzzle-piece big-icon"></i>
                    <h1>
                        {{'Core Values' | translate}}
                    </h1>
                    <div class="testimonials-text">
                        <i>{{'corevalue_detail'|translate}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#fff;">
        <div class="container timeline">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>{{'Our workflow'|translate}}</h1>
                    <!-- <p>{{'block_descript_hac'|translate}}</p> -->
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-12">
                    <img class="workflow-chart" src="assets/images/hac/Agile-Development-Diagram.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="testimonial" class="navy-section testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-puzzle-piece big-icon"></i>
                <h1>
                    {{'Core Values' | translate}}
                </h1>
                <div class="testimonials-text">
                    <i>{{'corevalue_detail'|translate}}</i>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- 
<section id="workflow" class="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{'Our workflow'|translate}}</h1> -->
                <!-- <p>{{'block_descript_hac'|translate}}</p> -->
            <!-- </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-12">
                <img class="workflow-chart" src="assets/images/hac/Agile-Development-Diagram.jpg">
            </div>
        </div>
    </div>
</section> -->

<section id="coreservice" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{'Core services' | translate}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text" style="min-height:145px;">
                <h2>{{'Web app development'|translate}}</h2>
                <i class="fa fa-desktop big-icon pull-right"></i>
                <p>{{'block_web_app_development'|translate}}</p>
                <!-- <small>Learn more</small> -->
            </div>
            <div class="col-lg-5 features-text col-r" style="min-height:145px;">
                <h2>{{'Mobile App Development'|translate}}</h2>
                <i class="fa fa-mobile big-icon pull-right" style="font-size: 70px;margin-right: .2em; line-height: 0.6em;"></i>
                <p>{{'block_mobile_development'|translate}}</p>
                <!-- <small>Learn more</small> -->
            </div>
        </div>
        <div class="row">
             <div class="col-lg-5 col-lg-offset-1 features-text" style="min-height:145px;">
                <h2>{{'Backend Development'|translate}}</h2>
                <i class="fa fa-database big-icon pull-right"></i>
                <p>{{'block_backend_development'|translate}}</p>
                <!-- <small>Learn more</small> -->
            </div>
            <div class="col-lg-5 features-text col-r" style="min-height:145px;">
                <h2>{{'Other Services'|translate}}</h2>
                <i class="fa fa-gear big-icon pull-right"></i>
                <p>{{'block_other_services'|translate}}</p>
            </div>
            <!-- <div class="col-lg-5 features-text col-r" style="min-height:145px;">
                <h2>{{'Frontend Development'|translate}}</h2>
                <i class="fa fa-ioxhost big-icon pull-right"></i>
                <p>{{'block_frontend_development'|translate}}</p>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>{{'UX/UI Design'|translate}}</h2>
                <i class="fa fa-pencil-square-o big-icon pull-right"></i>
                <p>{{'block_ui_design'|translate}}</p>
            </div>
            <div class="col-lg-5 features-text col-r">
                <h2>{{'Security compliance'|translate}}</h2>
                <i class="fa fa-lock big-icon pull-right"></i>
                <p>{{'block_security_compliance'|translate}}</p>
            </div>
        </div> -->
    </div>
</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{'Contact Us' | translate}}</h1>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="row m-b-lg">
                <div class="col-lg-4 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">{{'Head Office'|translate}}</span></strong><br>
                        {{'block_address_headoffice'|translate}}<br>
                        {{'block_city_headoffice'|translate}}<br>
                        <abbr title="Phone">P:</abbr> (+84) 942-109-398
                    </address>
                </div>
                <div class="col-lg-3">
                    <address>
                        <strong><span class="navy">{{'Ho Chi Minh office'|translate}}</span></strong><br>
                        {{'block_address_sgoffice'|translate}}<br>
                        {{'block_city_sgoffice'|translate}}<br>
                        <abbr title="Phone">P:</abbr> (+84) 944-346-468
                    </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:anhnd@hacvntech.com" class="btn btn-primary">{{'Send us mail'|translate}}</a>
                <!-- <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; {{'block_copyright'|translate}}</strong></p>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- this section for language menu -->
</section>
