<div class="footer_homepage">
    <div class="footer_description_container">
    	<div class="footer_description">
			<!-- <span class="icon icon-clingme"></span> -->
			<span class="icon" style="font-family: Arial;">25 triệu</span>
			<!-- <span class="mls">{{'There are' | translate}} {{totalSearch}} {{'block footer 01' | translate}}</span> -->
			<span class="mls">{{'block footer 01' | translate}}</span>
		</div>
		<div class="footer_description">
			<!-- <span class="icon icon-search"></span> -->
			<span class="icon">{{percent01}}</span>
			<span class="mls">{{'block footer 02' | translate}}</span>
		</div>
		<div class="footer_description">
			<!-- <span class="icon icon-deals"></span> -->
			<span class="icon">{{percent02}} </span>
			<span class="mls">{{'block footer 03' | translate}}</span>
		</div>
    </div>
</div>
