<div class="modal-header">
	<div class="modal-title">{{'Notification'|translate}}</div>
	<a ng-click="closeModal()"><i class="icon icon-close_bt"></i></a>
	<div style="clear:both;"></div>
</div>
<div class="modal-body">
	<div>{{'The place is registered and managed in Clingme'|translate}}</div>
	<div>{{'This is your place'|translate}}? <a class="login" ui-sref="homepage.login" ng-click="closeModal()">{{'Login'|translate}}</a> {{'To next'|translate}}</div>
	<br>
	<br>
	<div>{{'Or contact to Clingme'|translate}}:</div>
	<div><span>{{'Number phone contact'|translate}}</span><span style="padding-left:100px;">{{'Email address contact'|translate}}</span></div>
</div>