<div class="modal-header">
	<div class="modal-title">{{'performance_index'|translate}}</div>
	<a ng-click="closeModal()"><i class="icon icon-close_bt"></i></a>
	<div style="clear:both;"></div>
</div>
<div class="modal-body">
	<div>{{'description_performance_index_1'|translate}}</div>
	<br>
	<div>{{'description_performance_index_2'|translate}}</div>
	<br>
	<div class="bold orange">{{'description_performance_index_3'|translate}}</div>
	<div>{{'description_performance_index_3_detail'|translate}}</div>
	<div class="bold orange">{{'description_performance_index_4'|translate}}</div>
	<div>{{'description_performance_index_4_detail'|translate}}</div>
	<div class="bold orange">{{'description_performance_index_5'|translate}}</div>
	<div>{{'description_performance_index_5_detail'|translate}}</div>
	<div class="bold orange">{{'description_performance_index_6'|translate}}</div>
	<div>{{'description_performance_index_6_detail'|translate}}</div>
</div>