.team-member p{
  text-align: justify;
}
.testimonials-text{
  text-align: justify;  
}
body{
  font-family: Arial;
}
/*.features-text.features-text-mobile p{
    text-align: justify;
    margin-right: 10px;
}*/