@media (min-width: 768px) {
	.pull-right-custom{
		float: right;
	}
	.features-text i{
		margin-top: 40px;
	}
}
@media (max-width: 768px) {
	body{
		text-align: justify;
	}
	.col-r.col-r-custom{
		margin-left: 0;
	}
	.text-center-mobile{
		text-align: center;
	}
	.navbar-custom-mobile li{
		height: 53px;
	}
	.navbar-default .navbar-nav.navbar-custom-mobile > .active > a,
	.navbar-default .navbar-nav.navbar-custom-mobile > .active > a:hover {
	  background-color: #e7e7e7;
	  /*color: #fff;*/
	  color: #676a6c;
	  border-top: 6px solid #2A3F5D;
	}
	.block-top-mobile{
		padding-top: 30px;
	}
	.project-custom-mobile.project{
		width: 100%;
	}
	.row-mobile-only.row{
		margin-left: 0;
		margin-right: 0;
	}
	.workflow-chart.workflow-chart-mobile{
		width: 100%;
	}
	.features-text.features-text-mobile h2{
		margin-top: 15px;
	}
	.features-text.features-text-mobile p{
		text-align: justify;
	}
	.testimonials-text.testimonials-text-mobile{
		text-align: justify;	
	}
	.team-member{
		padding-bottom: 15px;
	}
	.carousel-indicators.carousel-indicators-mobile{
		padding-right: 0;
	}
	.carousel-caption.carousel-caption-mobile h1 {
	   font-size: 25px;
	}
}